.take-photo{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &__stream{
    width: 100%;
    height: 100%;
    background: var(--main-bg);
  }

  &__controls{
    position: absolute;
    z-index: 15;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    span{
      color: var(--btn-color);
      background: var(--btn-color_active);
      font-size: 14px;
      text-align: center;
      padding: 5px;
      cursor: pointer;
      flex-grow: 1;
      flex-shrink: 1;
    }

    span + span{
      border-left: 1px solid var(--btn-color);
    }
  }

  video{
    display: block;
    width: 100%;
    height: 100%;
    background: transparent;
    position: relative;
    z-index: 10;
  }

  canvas{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background: transparent;
    opacity: 0;
  }

  img{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 12;
  }

  //span {
  //  position: absolute;
  //  bottom: 10px;
  //  background: var(--btn-bg);
  //  color: var(--btn-color)
  //}
}